<script>
        $(document).ready(function(){
         $('.parallax').parallax();
   
         $(".dropdown-button").dropdown();
         $(".button-collapse").sideNav();
       });
   </script>
   
   <nav>
           <div class="nav-wrapper purple lighten-2">
             <a href="/" class="brand-logo quest"style="font-size: 18px;">Shiloh Baptist Church</a>
             <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
             <ul class="right hide-on-med-and-down">
               <li><a href="/contact">contact</a></li>
               <li><a href="/about">about</a></li>
              
             </ul>
             <ul class="side-nav transparent white-text " id="mobile-demo">
               <li><a class="white-text" href="/contact">contact</a></li>
               <li><a class="white-text" href="/about">about</a></li>
              
             </ul>
           </div>
         </nav>